<div id="wiki-wrapper">
<div id="cl-header"> 
     <div id="branding">
          <a accesskey="1" href="http://www.cam.ac.uk/">
             <img alt="University of Cambridge" class="ucam" src="/images/identifier.gif" />
             <img alt="DTG-Wiki" src="/images/dtg-wiki.gif" />
          </a> 
     </div>
     <div id="usermenu">
          {{#loggedin}}
          Welcome, {{username}} <a href="logout">logout</a>
          {{/loggedin}}
          {{#guest_mode}}
          Raven <a href="login">login</a>
          {{/guest_mode}}
     </div>
</div>
<div id="split"></div>
<div id="head">
  <h1>Create New Page</h1>
</div>
<div id="wiki-content" class="create edit">
  <div class="has-rightbar">
    {{>editor}}
  </div>
</div>
</div>
<script type="text/javascript">
window.onbeforeunload = function(){ return "Leaving will not create a new page!" };
$("#gollum-editor-submit").click( function() { window.onbeforeunload = null; } );

jQuery(document).ready(function() {
  $.GollumEditor({ NewFile: true, MarkupType: '{{default_markup}}' });
});
</script>

{{something}}
