<div id="wiki-wrapper" class="edit">
<div id="cl-header"> 
     <div id="branding">
          <a accesskey="1" href="http://www.cam.ac.uk/">
             <img alt="University of Cambridge" class="ucam" src="/images/identifier.gif" />
             <img alt="DTG-Wiki" src="/images/dtg-wiki.gif" />
          </a> 
     </div>
     <div id="usermenu">
          {{#loggedin}}
          Welcome, {{username}} <a href="logout">logout</a>
          {{/loggedin}}
          {{#guest_mode}}
          Raven <a href="login">login</a>
          {{/guest_mode}}
     </div>
</div>
<div id="split"></div>
<div id="head">
  <h1>Editing <strong>{{title}}</strong></h1>
  <ul class="actions">
    <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}"
       class="action-view-page">View Page</a></li>
     <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
       class="action-page-history">Page History</a></li>
  </ul>
</div>
  <div id="wiki-content">{{>editor}}</div>
</div>
<script type="text/javascript">
window.onbeforeunload = function(){ return "Leaving will discard all edits!" };
$("#gollum-editor-submit").click( function() { window.onbeforeunload = null; } );

jQuery(document).ready(function() {
  $.GollumEditor();
});
</script>
