<div id="wiki-wrapper" class="results">
<div id="cl-header"> 
     <div id="branding">
          <a accesskey="1" href="http://www.cam.ac.uk/">
             <img alt="University of Cambridge" class="ucam" src="/images/identifier.gif" />
             <img alt="DTG-Wiki" src="/images/dtg-wiki.gif" />
          </a> 
     </div>
     <div id="usermenu">
          {{#loggedin}}
          Welcome, {{username}} <a href="logout">logout</a>
          {{/loggedin}}
          {{#guest_mode}}
          Raven <a href="login">login</a>
          {{/guest_mode}}
     </div>
</div>
<div id="split"></div>
<div id="head" style="border:none;">
  <h1>{{title}}</h1>
  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="{{base_url}}/"
       class="action-edit-page">Home</a></li>
    <li class="minibutton" class="jaws">
    <a href="#" id="minibutton-new-page">New</a>
    </li>
  </ul>
</div>
<div id="pages">

{{#has_results}}
  <div id="file-browser">
    <div class="breadcrumb">
      {{{breadcrumb}}}
    </div>
    <ul>
      {{{files_folders}}}
    </ul>
  </div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no pages in <strong>{{ref}}</strong>.
  </p>
{{/no_results}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

